<!--
<p id="notice"><%= notice %></p>

<h1>Favourites</h1>
-->
<%= will_paginate @fizzbuzzes %>
<%= form_tag(favourites_path(page: params[:page],
                             per_page: params[:per_page],
                             pagination: 'faves'), method: :put) do %>
  <% @fizzbuzzes %>
  <% for fizzbuzz in @fizzbuzzes %>
    <ul>
      <li>
        <%= check_box_tag 'marked_as_favourites[]', fizzbuzz[:number], fizzbuzz[:fave] %>
        <%= fizzbuzz[:number] %>
        ****
        <%= fizzbuzz[:value] %>
      </li>
    </ul>
  <% end %>
  <%= hidden_field_tag :pagination, 'fave' %>
<%= submit_tag 'Mark as favourite' %>
<% end %>
<br>

<%= link_to 'New Favourite', new_favourite_path %>
