<!--
<p id="notice"><%= notice %></p>

<h1>Favourites</h1>
-->
<%= will_paginate @fizzbuzz_numbers %>
<%= form_tag(favourites_path(page: params[:page], per_page: params[:per_page]), method: :put) do %>
  <% for fizzbuzz in @fizzbuzz_numbers %>
    <ul>
      <li>
        <%= check_box_tag 'marked_as_favourites[]', fizzbuzz[:number], fizzbuzz[:fave] %>
        <%= fizzbuzz[:number] %>
        ****
        <%= fizzbuzz[:value] %>
      </li>
    </ul>
  <% end %>
<%= submit_tag 'Mark as favourite' %>
<% end %>
<br>

<%= link_to 'New Favourite', new_favourite_path %>
